<div class="custom inner-page-container">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <a class="back-to-landingpage" [routerLink]="['/user/landing-page']"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
            </div>
        </div>
        <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissible]="dismissible" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
        </div>
            <mat-card class="inner-page-header">
                <mat-card-content>
                    <h2>Medicine <b>Master</b></h2>
                    <button mat-raised-button color="primary" class="btn btn-primary add-new-record" (click)="openDialogWithTemplateRef(myDialog)"><i class="fa fa-plus"></i> Add New</button>
                </mat-card-content>
            </mat-card>

            <p></p>

            <mat-card class="table-holder">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                    <button class="btn btn-primary" style="height: 100%;" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>           
                    <p></p> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-header-row">
                                <div class="field-row">
                                    <div class="field"><b>Id</b></div>
                                    <div class="field"><b>Name</b></div>
                                    <div class="field"><b>Price</b></div>
                                    <div class="field"><b>Actions</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="custom-grid-row long-list scrollbar scrollbar-black bordered-black square thin">
                        <li *ngFor="let medicine of  medicine_list; let i = index">
                            <div class="field-row">
                                <div class="field">{{ medicine.id }}</div>
                                <div class="field">{{ medicine.name }}</div>
                                <div class="field">{{ medicine.price }}</div>
                                <div class="field text-center">
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" aria-hidden="true" (click)="onUpdateArea(i)" style="cursor: pointer;"></i></a>&nbsp;&nbsp;
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(i)" style="cursor: pointer;"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <form [formGroup]="addNewMedicineForm">
                        <div formArrayName="listMedicines">
                            <div *ngFor="let medicine of listMedicines.controls; let i=index">                            
                                <div [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-md-4"><input type="text" formControlName="id" placeholder="Medicine Id"></div>
                                        <div class="col-md-4"><input type="text" formControlName="name" placeholder="Medicine Name"></div>
                                        <div class="col-md-4"><input type="text" formControlName="price" placeholder="Medicine Price"></div>
                                        <div class="col-md-4 text-center">
                                            <a class="add" title="Add" data-toggle="tooltip" *ngIf="addClicked===true || editClicked ===true" (click)="submitNewMedicine()">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                            &nbsp;&nbsp;
                                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form> -->
                </mat-card-content>
            </mat-card>
    </div>    
</div>

<ng-template #myDialog>
    <h2 matDialogTitle>New Medicine</h2>
    <mat-dialog-content>
        <form name="my-form">
            <div class="scrollbar scrollbar-black bordered-black square thin">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="id" class="col-md-12 col-form-label text-md-right">Medicine Id</label>
                            <div class="col-md-12">
                                <input type="text" id="id" class="form-control" name="id" formControlName="id">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="first_name" class="col-md-12 col-form-label text-md-right">Medicine Name</label>
                            <div class="col-md-12">
                                <input type="text" id="first_name" class="form-control" name="first-name" formControlName="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="middle_name" class="col-md-12 col-form-label text-md-right">Medicine Price</label>
                            <div class="col-md-12">
                                <input type="text" id="middle_name" class="form-control" name="middle-name" formControlName="middleName">
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose class="btn btn-primary">Submit</button>&nbsp;
        <button mat-button matDialogClose class="btn btn-danger">Cancel</button>
    </mat-dialog-actions>
</ng-template>