<div class="container">
    <div class="row" *ngIf="showHead">
        <div class="col-md-12">
            <header>
                <a href="#"><img src="assets/images/brand-logo.png"></a>                   
                <div class="actions">
                    <a href="#" class="notification"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                    <a href="#" class="notification"><i class="fa fa-cog"></i></a>
                </div>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
            <router-outlet name='login'></router-outlet>
        </div>
    </div>
</div>

