.table-responsive {
    overflow: hidden;
}
.bordered {
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.long-list {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom-header-row .field-row {
    display: flex;
    flex-direction: row;
}

.custom-header-row .field-row .field {
    width: 24%;
    font-weight: 400;
    font-size: 15px;
    flex-grow: 4;
    padding: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
}

.custom-header-row .field-row div.field:first-child {
    margin-left: 0;
}

.custom-grid-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 435px;
}

.custom-grid-row div.field-row {
    display: flex;
    flex-direction: row;
}

.custom-grid-row div.field {
    width: 25%;
    flex-grow: 4;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0px 0px -1px -1px;
}

.custom-grid-row div.field:first-child {
    margin-left: 0;
}