<div class="card custom">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <a class="back-to-landingpage" [routerLink]="['/user/landing-page']"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
            </div>
        </div>
        <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissible]="dismissible" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
        </div>
        <div class="table-responsive table-content">
            <div class="row">
                <div class="col-sm-8"><h2>Patch <b>Master</b></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new" (click)="onAddPatch()"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
            <div class="row">
                <div class="col bordered"><b>Id</b></div>
                <div class="col bordered"><b>Area Id</b></div>
                <div class="col bordered"><b>Name</b></div>                
                <div class="col bordered text-center"><b>Actions</b></div>
            </div>
            <div class="long-list scrollbar scrollbar-black bordered-black square thin">
                <div class="row" *ngFor="let patch of  patch_list; let i = index">
                    <div class="col bordered">{{ patch.id }}</div>
                    <div class="col bordered">{{ patch.areaid }}</div>
                    <div class="col bordered">{{ patch.name }}</div>
                    <div class="col bordered text-center">
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" aria-hidden="true" (click)="onUpdatePatch(i)" style="cursor: pointer;"></i></a>&nbsp;&nbsp;
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(i)" style="cursor: pointer;"></i></a>
                    </div>
                </div>
            </div>
            <form [formGroup]="addNewPatchForm">
                <div formArrayName="listPatches">
                    <div *ngFor="let patch of listPatches.controls; let i=index">                            
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-3"><input type="text" formControlName="id" placeholder="Patch Id"></div>
                                <div class="col-md-3"><input type="text" formControlName="areaid" placeholder="Area Id"></div>
                                <div class="col-md-3"><input type="text" formControlName="name" placeholder="Patch Name"></div>
                                <div class="col-md-3 text-center">
                                    <a class="add" title="Add" data-toggle="tooltip" *ngIf="addClicked===true || editClicked ===true" (click)="submitNewPatch()">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>