body {
    font-size: 20px;
    font-family: robotoregular;
}

.login-page {
    display: block;
    min-height: 100vh;
    background: rgba(1,180,142, .5);
}

.form-holder {
    display: flex;
    width: 350px;
    margin: 0 auto;
    min-height: 100px;
    height: 450px;
    align-items: center;
    justify-content: center;
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    transform: translate(0, 30%);
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brand {
    width: 100%;
    margin-left: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.brand h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #333;
}

img {
    width: 70px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 10px;
}

form {
    width: 100%;
    padding: 10px;
    margin-top: 100px;
}

input {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    background: transparent!important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 5px;
}

.input-group-text {
    width: 40px;
    height: 90%;
    background-color: #01B48E;
}

.user_credential {
    font-size: 12px;
    color:#333;
}

input.user_credential::-webkit-input-placeholder {
    color: #ddd;
}

button {
    width: 100%;
    color: rgba(49,64,160,1);
    text-align: center;
    font-weight: 500;
}

.loginButton {
	background-color: #47126b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 2px;
    display: block;
    width: 50%;
	cursor: pointer;
	color: #FFF;
	font-size: 15px;
	font-weight: 500;
	padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 15px auto;
    border-radius: 4px;
}
.loginButton:hover {
    color: #313fa0;
	background-color:#FFF;
}
.loginButton:active {
	position:relative;
	top:1px;
}

.forgot {
    font-size: 10px;
    color: #000;
    text-align: right;
    margin-right: 100px;
}

.disclaimer {
    font-size: 10px;
}


@media only screen and (min-width: 768px) {
    .login-page {
        width: 500px;
        margin: 0 auto;
    }

    .brand {
        width: 500px;
        left: auto;
        margin: 0 auto;
    }

}