<div class="login-page">
    <!-- <div class="row"> -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-12"> -->
            <!-- <div class="form-holder"> -->                
                <div class="form-holder">
                    <div class="brand">
                        <img src="assets/images/brand-logo.png" alt="">
                        <h1 class="text">MEDRep</h1>
                    </div>
                    <form action="">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
                            <input type="text" placeholder="Username" class="user_credential form-control input_user" readonly onfocus="this.removeAttribute('readonly');" />
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
                            <input type="password" placeholder="Password" class="user_credential form-control input_user" readonly onfocus="this.removeAttribute('readonly');" />
                        </div>                        
                        <a href="#" routerLinkActive="active" routerLink="/login-page" class="loginButton" [routerLink]="['/user/landing-page']">LOGIN</a>
                        <p>&nbsp;</p>
                        <p class="disclaimer">By creating an account, I agree to Name# <span>Website terms</span>, Privacy policy and Licensing terms.</p>
                        <hr>
                        <p class="disclaimer">Dont have an account? <span>Register</span></p>
                    </form>
                </div>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>