.calendar-days {
    font-size: 12px;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    position: relative;
    cursor: pointer;
  }

  .calendar-days .previous-month, .calendar-days .next-month{
    color: grey;
  }

  .calendar-days .in-month {
    background-color: #f00;
  }
  
  .calendar-days .weekend {
    background-color: rgb(245, 245, 245);
  }

  .flex-container {
    display: -webkit-flex;
    display: flex;
  }
  
  .flex-center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  .hours {
    font-size: 10px;
    position: absolute;
    top: -15px;
    left: -30px;
  }
  .dropdown-item {
    cursor: pointer;
  }

  #slot-container {
    width: 100px;
    padding: 5px;
  }

  #slot-container .pills {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    text-transform: capitalize;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}

#slot-container .pills:hover {
    color: #fff!important;
    background-color: #47126b;
}

#slot-container .pills.selected{
  color: #fff!important;
  background-color: #47126b;
}

.calendar-days {
  background-color: darkseagreen;
}

.calendar-days.weekend {
  background-color: darkgray;
}

.calendar-days.previous-month {
  background-color: darkgray;
}

.calendar-days.next-month {
  background-color: darkgray;
}

.calendar-days.disabled {
  pointer-events: none;
}

.calendar-days.hasPlan::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background-color: brown;
  position: absolute;
  top: 5px;
  right: 5px;
}
