/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; font-family: robotoregular; }
body { margin: 0; padding:0; font-family: robotoregular, "Helvetica Neue", sans-serif; }

:root {
    font-family: roboto!important;
}

.no-padding {
    padding: 0;
}

a, a:focus {
    text-decoration: none;
}

ul, ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 5px 0;
    font-weight: normal;
    text-shadow: none;
}


h1 {
    font-size: 25px;    
}

h2 {
    font-size: 20px;  
}

h3 {
    font-size: 15px;  
}

h4 {
    font-size: 12px;  
}

h5 {
    font-size: 10px;  
}

.fa {
    /* color: #fff; */
    /* color: #646464; */
}

input[type=text], input[type=password] {
    outline: none;
}

header {
    padding: 15px 15px 20px 15px;
    background-color: rgba(1,180,142, .5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

header img {
    width: 30px;
}

header .actions {
    float: right;
    padding-right: 10px;
    margin-top: 10px;
}

header .actions a {
    margin-left: 15px;
}

header .actions a i {
    color: #fff;
}

header .actions .notification {
    font-size: 20px;
}

.container {
    background: #f4f9fd;
    // background: #AAA;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    // padding: 10px;
}

.card {
    display: block;
    min-height: 20px;
    // padding: 10px;
    background: transparent;
    /* box-shadow: 0 4px 8px -3px rgba(0,0,0,0.5); */
    border-radius: 5px;
    transition: 0.3s;
    margin: 5px 0;
    border: none;
}

.card-body {
    padding: 10px;
}

.content {
    padding: 5px 5px 0 5px;
}

.back {
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    margin: 5px 0;
}

.back-arrow {
    display: block;
    font-size: 20px;
    color: #000;
}

.tab-container .tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.tab-container .tabs input {
    display: none;
}

.tab-container .tabs label {
    padding: 10px 0 15px 0;
    flex-grow: 1;
    margin: 0 0 -1px;
    /* padding: 10px; */
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #999;
    border: 1px solid transparent;
}

.tab-container .tabs input:checked + label {
    color: #424242;
    font-weight: 500;
}

section {
    display: none;
}

section.hide {
    display: none;
}

.tab-container #tab1:checked #tab1-content,
.tab-container #tab2:checked #tab2-content,
.tab-container #tab3:checked #tab3-content,
.tab-container #tab4:checked #tab4-content, 
.tab-container #tab5:checked #tab5-content,
.tab-container #tab6:checked #tab6-content {
	  display: block;
}

.tab-container #tab1-content {
    display: block;
}

.tab-content li a {
    display: block;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 300;
    color: #424242;
    text-transform: capitalize; 
    border-bottom: 1px solid #e7e7e7;
}

.tab-content li a span {
    float: right;
}

/* MODAL POPUP */
.modal-dialog .modal-header {
    padding: 10px 15px;
}

.modal-dialog .modal-title {
    font-size: 13px;
    font-weight: 500;
} 

.modal-backdrop.show {
    opacity: 1!important;
    background-color: rgba(255, 255, 255, .8);
}

.modal-header .close {
    outline: none;
    padding: 10px;
}

.clearfix {
    float: none;
    clear: both;
}

.no-padding {
    padding: 0;
}

.back-to-landingpage {
    font-size: 30px;
}

.back-to-landingpage i {
    color: #01B48E;
}

.card.custom {
    padding-top: 0;
    margin-top: 0;
}

i {
    color: #47126b;
}

.show.modal-backdrop {
    background-color: rgba(0,0,0,.7);
}

.modal-doctor.modal-dialog {
    top: 100px;
}

.modal-custom.modal-dialog .modal-content{
    height: 600px;
}

.modal-doctor.modal-dialog .modal-content .modal-body .card-body{
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-dialog {
    max-width: 350px;
    margin: 0 auto;
}

.modal-dialog .modal-header {
    background-color: #01B48E;
}

.modal-dialog .modal-header .close {
    border: none;
    background-color: transparent;
}

.modal-dialog .modal-header .close i {
    color: #f00;
}

.modal-dialog .modal-title {
    font-size: 20px;
    color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #766df4;
    border-color: #766df4;
}

.btn-info i {
    color: #fff;
}

.btn-info:hover, .btn-info:focus, .btn-info:active{
    color: #fff;
    background-color: #5549f1;
    border-color: #766df4;
}

.btn-primary {
    font-weight: 400;
    background-color: #01B48E;
    border: 1px solid #01B48E;
}

.btn-primary i {
    color: #FFF;
}


// SLIM SCROLLBAR
    
.scrollbar-black::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}
    
.scrollbar-black::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
.scrollbar-black::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000; 
}
    
.bordered-black::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #000; 
}
    
.bordered-black::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none; 
}
    
.square::-webkit-scrollbar-track {
    border-radius: 0 !important; 
}
    
.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important; 
}
    
.thin::-webkit-scrollbar {
    width: 6px; 
}

bs-datepicker-container {
    z-index: 9999!important;
    background-color: #ddd;
}

// BUTTONS
.btn-default {
    padding: 10px 20px;
    background-color: #01B48E;
    color: #FFF;
}

.btn-arrows {
    padding: 5px 10px;
    background-color: #01B48E;
    border: none!important;
    color: #FFF;
}

.btn-arrows i {
    color: #FFF;
}


// TABLE
.table-content.table-responsive {
    font-size: 12px;
}

.legends {
    font-size: 12px;
    color: #999;
}

.legends span {
    color: red;
}

@media only screen and (max-width: 1920px) and (min-width: 500px) {
    .container {
        width: 500px!important;
    }
}
