.long-list {
    height: 490px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn-primary {
    font-size: 12px;
}

.card.doctor-card {
    margin: 10px;
    margin-left: 0;
    background-color: #fff;
}

.actions {
    display: block;
}