.example-container {
    height: 430px;
    overflow: auto;
}

h2 {
    margin: 0;
}

.modal-header {
    position: relative;
}

.close-button {
    padding: 2px 9px;
    color: #fff;
    background-color: #dc3545;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;    
}